:root {
  --green: #2ECC71;
  --lpurple: #cdbfe7;
  --purple: #5f3c9e;
  --lgrey: #f1f1f1;
  --grey: #ddd;
  --dgrey: #414141;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

input:focus,
button:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5em;
  margin: 40px 0px 40px 0px;
  font-weight: 700;
  text-align: center;
}

h2 {
  margin: 0px 0px 20px 0px;
}

.bg-light {
  background-image: radial-gradient(white, #e0e0e0);
}


.footer {
  background-color: var(--lgrey);
  padding: 40px 0px 40px 0px;
  color: grey;
}

/* -- Email capture pop-up -- */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media screen and (max-width: 1164px) {
  .flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
}

.modal-item {
  align-self: center;
}

/* -- Email capture -- */
.email-capture {
  border: 2px solid;
  border-color: var(--green);
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 15px;
  padding: 6px 0px 6px 12px;
}

#email-submit {
  border: 2px solid;
  background-color: var(--green);
  color: white;
  border-color: var(--green);
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 15px;
  padding: 6px 6px 6px 6px;
}

#email-submit-text {
  color: white;
}

input.email-capture:invalid {
  border: red solid 2px;
}



.btn-primary {
  background-color: var(--green);
  border-color: var(--green);
}

.btn-secondary {
  background-color: var(--purple);
  border-color: var(--purple);
}

.logo_banner {
  background-image: url('i/logo-banner-bw2.png');
  height: 70px;
  width: 100%;
  animation: backgroundScroll 480s linear infinite;
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -4502px 0;
  }
}

.hero {
  width: 100vw;
  height: 100vh;
}

.nav-item {
  margin-left: 20px;
}

.inline {
  display: inline;
}

.child {
  display: flex;
}

.child div {
  flex-grow: 1;
  width: 0;
}

.wrapper {
  display: inline-block;
}

.section {
  padding-top: 80px;
  padding-bottom: 120px;
}

.case-card {
  width: 400px;
  height: 100%;
  padding: 20px 20px 50px 20px;
  background-color: var(--lpurple);
  color: black;
  border-width: 0px;
  margin: auto;
  border-radius: 10px;
}

.case-study-link {
  color: black;
  text-decoration: underline;
}

.footer-item {
  display: inline;
  margin: 10px;
  font-size: 80%;
}

.footer-link {
  color: grey;
  text-decoration: underline;
}


.logo-banner-title {
 color: grey;
 text-transform: uppercase;
 width: 100%;
}

.mt-6 {
  margin-top: 80px;
}

.mt-7 {
  margin-top: 140px;
}

.carousel-control-next,
.carousel-control-prev {
  top: inherit;
  bottom: 40px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}